{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div class="container">
{% if validlink %}

<h2 class="text-center">Set a new password!</h2>
<form method="POST" style="width: 340px; margin: 50px auto;">
  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" value="Change my password" class="btn btn-primary">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
</div>
{% endblock %}

