<!-- <footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; MOG On Demand 2021.</div>
            <div>
                <a href="#">Give Feedback</a>
                &middot;
                <a href="#">Home</a>
            </div>
        </div>
    </div>
</footer> -->

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Copyright &copy; 2021 MOG On Demand.</p>
    <p class="mb-0">New to MOG On Demand? <a href="https://mogondemand.com">Visit the homepage</a> or read our <a href="https://mogondemand.com">getting started guide</a>.</p>
  </div>
</footer>
