{% extends 'base.html' %}

{% block content %}
<table class="table">
    <thead class="thead-light-cancelled">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Phone</th>
            <th scope="col">Different Class</th>
            <td>
                <a href="{% url 'camper:new' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i>Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for obj in camper_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}.</th>
            <td>{{ obj.first_name }} {{ obj.last_name }}</td>
            {% if obj.gender == 'M' %}
                <td>Male</td>
            {% else %}
                <td>Female</td>
            {% endif %}
            <td>{{ obj.phone }}</td>
            <td>{{ obj.different_class }}</td>
            <td>
                <a href="{% url 'camper:update' id=obj.id %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i>
                </a>
                <button type="button" class="btn" data-toggle="modal" data-target="#exampleModal-{{ obj.id }}">
                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                </button>
                <div class="modal fade" id="exampleModal-{{ obj.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Camp Registrar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Do you really want to delete <strong>{{obj.first_name}} {{obj.last_name}}</strong> as a camper?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                         <form action="{% url 'camper:delete' id=obj.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Confirm</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">You have no campers registered yet.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<br><br><br>
{% endblock %}
